<h1>New creature</h1>
<a href="/creatures">creatures Index</a>

<form method="POST" action="/creatures">
    <label>Name</label>
    <input type="text" name="name">

    <label>Type</label>
    <input type="text" name="type">
    <input type="submit">
</form>
